/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 100%;
	display: block;
}

body {
	font-family: "nunito-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e9e9e9;
	color: #252525;
}

h1 {
	width: 14em;
	padding-bottom: 1rem;
    padding-top: 1rem;
	padding-left: 1em;
}

a {
	color: #252525;
	text-decoration: none;
} 


div.container, div.home-container {
	margin: auto;
	max-width: 40em;
}

ul {
	list-style-type: none;
	font-weight: bold;
	margin: auto;
	padding-left: 1em;
	line-height: 1.5em;
}

nav ul {
	text-align: left;
}

nav li {
	margin-right: 1.25em;
}

nav a {
	color: #f39220;
	text-decoration: none;
	font-family: "fino-sans", sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 1.2em; 
}

h2 {
	padding-left: 0.5em;
	font-size: 2.75em;
	font-family: "fino-sans", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #f39220;
}

section.secondary-story h2 {
	padding-left: 0.5em;
	font-size: 1.75em;
}

section.tertiary-story h2 {
	padding-left: 1em;
	font-size: 1em;
	border-top: 1px #221f1f solid;
	padding-top: .60em;
}

figcaption {
	padding-top: 0.25em;
	padding-left: 1em;
	padding-bottom: 1em;
	font-style: italic;
	color: #555555;
}

article h2 {
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	font-size: 2em;
	font-weight: bold;
	font-family: serif;
	color: #f39220;
}

/* home page aside styling */

aside h2 {  
	padding: 0;
	font-size: 1.3em;
}

p {
	text-decoration: none;
	padding: 0 1em 1em;
}

aside p {
	padding-left: 0;
} 

/* main story aside black background styling */ 

aside { 
	background-color: #221f1f;
	padding: 1em;
}

div.container aside p {
    color: #FFFFFF;  
} 

footer{
    background-color: #221f1f;
    color: #ffffff;
    height: 2rem;
    padding-top: 1em;
	padding-bottom: 1em;
}

@media screen and (min-width: 35em) {
	nav ul li {
		display: inline-block;
	}

	h1, h2, section.secondary-story h2,section.tertiary-story h2, article h2, p, ul, figcaption {
		padding-left: 0em;
	}
}
@media only screen and (min-width: 60em) {

	div.home-container {
		max-width: 80em;
		padding: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 1em;
	}

	div.container {
		max-width: 60em;
		padding: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 1em;
	}

	header,footer {
		grid-column: 1/3;
	}

	div.home-container main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
	}

	div.home-container aside{
		background: none;
		padding: 0;
		margin-top: 0;
	}

	div.container aside{
		margin-top: 0;
	}

	section.main-story{
		grid-column: 2/4;
		grid-row: 1/3;
		display: flex;
	}

	section.main-story a {
		flex: 1 0 12em;
		display: flex;
		flex-direction: column;
	}

	section.main-story a figure{
		flex: 1 0 12em;
		display: flex;
	}
	
	section.main-story a figure img{
		object-fit: cover;
	}

	section.main-story a h2{
		flex: 0 0 1em;
	}

	section.main-story a p{
		flex: 0 0 4em;
	}

	section.secondary-story{ 
		display: flex;
	}

	section.secondary-story a {
		flex: 1 0 12em;
		display: flex;
		flex-direction: column;
	}

	section.secondary-story a figure{
		flex: 1 0 12em;
		display: flex;
	}
	
	section.secondary-story a figure img{
		object-fit: cover;
	}

	section.secondary-story a h2{
		flex: 0 0 1em;
	}

	section.secondary-story a p{
		flex: 0 0 4em;
	}
}
